<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
      <h1>Over deze applicatie</h1>
      <p>
        Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
        Breda.
      </p>
      <h3>CSFW - Webmanagement</h3>
      <p>
        Een applicatie om de status van clienten, hardware en gebruikers te volgen
      </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="d-flex justify-content-center align-items-center">
          <img
            src="../../../assets/person.png"
            class="card-img-top rounded-circle border profile-pic"
            alt="Author"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Wouter Jansen</h5>
          <p class="card-text">
            Studentnummer: 2130299
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <h3>Entiteiten</h3>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <p>Gebruikers (Entiteit 1)</p>
      <ul>
        <li>naam: string</li>
        <li>id: number</li>
        <li>birthdate: date</li>
        <li>rol: Enum[Rol]</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <p>Clienten (Entiteit 2)</p>
      <ul>
        <li>naam: string</li>
        <li>id: number</li>
        <li>client-producten: -</li>
        <li>client-services: -</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <p>Hardware (Entiteit 3)</p>
      <ul>
        <li>naam: string</li>
        <li>id: number</li>
        <li>clienten: List[clienten]</li>
        <li>capaciteit: number</li>
        <li>Specificaties: List[Specificaties]</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
        <p>Services (Entiteit 4)</p>
        <ul>
          <li>naam: string</li>
          <li>id: number</li>
          <li>client: List[clienten]</li>
          <li>kosten: number</li>
        </ul>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12 col-md-3">
          <p>Specificaties (Entiteit 5)</p>
          <ul>
            <li>id: number</li>
            <li>type: string</li>
            <li>hoeveelheid: string</li>
          </ul>
        </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Use Cases</h3>
      <p>De applicatie biedt de volgende functionaliteit.</p>
      <div *ngFor="let UC of useCases">
        <app-usecase [useCase]="UC"></app-usecase>
      </div>
    </div>
  </div>
  