<div class="navbar-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a routerLink="">
        <h4 class="title">{{title}} | </h4>
      </a>   
      <a routerLink="/about">About this application</a>
      <a routerLink="/list-hardware">Hardware List</a>
      <a routerLink="/create-hardware">Add Hardware</a>
      <a routerLink="/list-spec">Specification List</a>
      <a routerLink="/create-spec">Add Specification</a>
      <a routerLink="/register">Register</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </nav>
</div>
<div class="content">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

