<style>
li.nav-item {
    list-style-type: none;
}
</style>
<div class="navbar-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a routerLink="">
        <h4 class="title">{{title}} | </h4>
      </a>   
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About this application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list-hardware">Hardware List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-hardware">Add Hardware</a>
      </li>
      <li class="nav-item">
        <a class="nav-item" routerLink="/create-spec">Add Specification </a>
      </li>
      <li class="nav-item">
        <a class="nav-item" routerLink="/register"> | Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </li>
      <!--<a routerLink="/list-spec">Specification List</a>-->
    </nav>
</div>
<div class="content">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

